/* Main content */
.wy-nav-content {
  max-width: 1200px;
}
.wy-side-nav-search,
.wy-nav-top {
  background: #f1f3f4;
}
.switch-menus {
  background: #2596be;
}
.version-switch::before {
  color: #fcfcfc;
}
.version-switch::after {
  color: #fcfcfc;
}